---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        
	<h1>About Me</h1>
<h2>... and my new Astro site!</h2>

        <p>Hi, I'm Jesse Fletcher. I'm a Marine Corps veteran who found my
        purpose in technology after years of working in the mechanical trades.
        That hands-on experience built my problem-solving skills and gave me a
        mindset that fits perfectly in the world of IT and cybersecurity.</p>

        <p>Today I work in tech support while earning my degree in Cybersecurity.
        I enjoy building tools, fixing real problems, and learning new technologies.
        I started this blog to share what I discover, help others grow in tech, and 
        create a space where people can learn without judgment.</p>

        <p>Outside of work I spend time gaming, rollerblading, exploring creative projects,
            and staying curious about the world. I believe technology should be useful,
            honest, and empowering for everyone.</p>
	</body>
</html>